<!-- <div class="container"> -->
  <div class="row">
    <div class="col-7">
      <div class="left-side">
        <!-- <img src="assets/images/coronation.png" style="margin-bottom:20%;" alt=""> -->
        <!-- <div class="terminal-content">
          <span class="heading-1">Welcome to</span>
          <span class="heading-2">Peaceful Banking</span>
          <span class="introduction">
            Banking on your hand with total freedom and restful mind
          </span>
        </div> -->
      </div>
    </div>

    <div class="col-5">
      <div class="right-side">
        <div class="login-area">
          <div class="title-content">
            <span *ngIf="stage === 1" class="mid-title">Forget password</span>
            <span *ngIf="stage === 2" class="mid-title">Reset password</span>
          </div>
          <div class="login-form">

            <div *ngIf="stage === 1" class="form-group">
              <label for="" style="color: #000; opacity: 0.5;">Please enter your email address</label>
              <input type="email" name="email"  placeholder="Email address" style="padding-left: 50px;">
            </div>

            <div *ngIf="stage === 2" class="form-group">
              <label for="" style="color: #000; opacity: 0.5;">Please enter your new password</label>
              <input type="password" name="password"  placeholder="Password" style="padding-left: 50px; margin-bottom: 10px;">
              <input type="password" name="newpassword"  placeholder="New Password" style="padding-left: 50px;">
            </div>

              <div class="form-group">
                <button *ngIf="stage === 1" id="login" style="width: 100% !important;" (click)="nextStage()">Submit</button>
                <button *ngIf="stage === 2" id="login" style="width: 100% !important;" (click)="passwordReset()">Reset</button>
              </div>

              <div *ngIf="stage === 1 || stage === 2" style="display: flex; justify-self: flex-end; align-self: flex-end;">
                <a href="/login" class="action-link" >Back to Login</a>
              </div>
          </div>
        </div>

        <div *ngIf="stage === 3" class="login-area">
          <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <img src="assets/images/reset-done.jpg" style="width: 100px; height: 100px;" alt="">
            <span class="mid-title">
              Your password has be reset
            </span>
            <span style="color: #000; opacity: 0.5;">
              Login with new password to again access to your account
            </span>
          </div>
          <div class="login-form">
              <div class="form-group">
                <button [routerLink]="['/login']" routerLinkActive="router-link-active"  id="login" style="width: 100% !important;" (click)="nextStage()">Login</button>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- </div> -->
