<!-- <div class="container"> -->
  <div class="row">
    <div class="col-7">
      <div class="left-side">
        <!-- <img src="assets/images/coronation.png" style="margin-bottom:20%;" alt=""> -->
        <!-- <div class="terminal-content">
          <span class="heading-1">Welcome to</span>
          <span class="heading-2">Peaceful Banking</span>
          <span class="introduction">
            Banking on your hand with total freedom and restful mind
          </span>
        </div> -->
      </div>
    </div>

    <div class="col-4">
      <div class="right-side">
        <div class="login-area">
          <div class="title-content">
            <span class="login-title">Welcome, login to your account</span>
          </div>
          <div class="login-form">

            <div class="form-group">
              <input type="email" name="amount"  placeholder="Email address" style="padding-left: 50px;">
            </div>

            <div class="form-group">
              <input type="password" name="amount"  placeholder="Password" style="padding-left: 50px;">
            </div>

            <div class="form-group" style="display: flex; flex-direction: row; justify-content: space-between; align-content: flex-end;">
              <div style="display: inline-flex; justify-content: flex-start;">
                <input type="checkbox" name="remember-me" id="gridCheck" style="width: 30px; height: 20px;">
                <label for="">Remember Me</label>
              </div>
              <div>
                <a href="/reset" class="action-link" >Forgot password?</a>
              </div>
            </div>

            <!-- <div class="row" style="display: flex; justify-content: space-between;">
              <div class="col-7" style="display: inline-flex;">
                <input type="checkbox" name="remember-me">
                <span for="">Remember Me</span>
              </div>

              <div class="col-4">
                <a href="~/forgot-password" class="action-link" >Forgot password?</a>
              </div>
            </div> -->

              <div class="form-group">
                <button id="login" style="width: 100% !important;">Login</button>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- </div> -->
